.formRegistrarse {
   width: 50%;
   height: 100%;
   min-height: 100vh;
   margin: 0 auto 0;
   padding: 4em 0 4em;
}

.form-control {
   border-radius: 1em 0 1em 1em !important;
}

.habeas {
   width: 100%;
   margin-top: 1em;
}

.habeas p.habeasData {
   text-align: justify;
   font-size: 0.8em;
   margin-top: 1em;
}

h4.hastag {
   font-family: "ColgateReady-Bold";
   font-size: 1.5em;
   text-align: center;
   font-weight: 900;
   color: #d2010d;
}

.noAutorizar {
   background: #b1b1b1 !important;
   border: 1px solid #b1b1b1 !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

input[type=number] {
   -moz-appearance: textfield;
}

.center {
   display: flex;
   justify-content: center;
   text-align: center;
}

.seccionLogin a {
   padding: 0.5em 3em;
   font-size: 2em;
   font-weight: 800;
   color: #fff;
   text-decoration: none;
   border-radius: 2em;
   background: #d2010d;
}

.formularioCuidaTuBoca p b,
label.form-label b {
   color: #d2010d;
   font-size: 1em;
   font-weight: 900;
}

.seccionLogin a:hover {
   transform: scale(2);
   color: #fff;
   background: #ff1b26;
}

@media only screen and (max-width: 480px) {
   .formRegistrarse {
      width: 100%;
   }

   .seccionLogin a {
      padding: 0.5em 1em;
      font-size: 1.5em;
   }
}